/* this is my stylesheet for the homepage */

h6 {
  margin-top: 50px;
  color: white;
}

#links {
  display: inline;
  border-color: #D9A443;
  border-width: medium;
  border-style: solid;
  font-family: 'Cabin', sans-serif;
  }

h1 {
  color: red;
  font-family: 'Arimo', sans-serif;
  font-size: 80px;
}

h2 {
  font-family: 'Oxygen', sans-serif;
  margin-top: 30px;
  color: #567D8C;
  font-size: 40px;
}

h3 {
  font-family: 'Frank Ruhl Libre', sans-serif;
  color: black;
}

h4 {
  font-family: 'Cabin', sans-serif;
  font-size: 200px;
  color: antiquewhite;
}

p {
  font-family: 'Rubik', sans-serif;
  color: white;
}

#topten {
  margin-right: 300px;
}

a {
  color: black;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}
